<section id="home-background" class="container-fluid d-flex justify-content-start align-items-center">
  <div class="ml-5 jumbotron BB-primary">
    <h1 class="display-3c"><strong>Invista em Crypto Moedas</strong></h1>
    <p class="lead">O Banco do Brasil agora permite que você invista em Crypto Moedas com facilidade e segurança.</p>
    <div class="d-flex justify-content-end">
      <%= link_to "Saiba mais", new_user_registration_path, class: "btn btn-BB" %>
    </div>
  </div>
</section>