<nav class="navbar navbar-expand-lg fixed-top navbar-BB">
  <div class="container">
    <img title="Banco do Brasil" alt="Banco do Brasil" src="http://www.bb.com.br/pbb/img.ImgWriter?codigo=40846&origem=CCI">
    <h3 class="navbar-brand ml-3 mb-0 BB-primary">Crypto BB</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav ml-auto" id="navbarResponsive">
      <button type="button" class="btn btn-BB">Acesse sua conta</button>
    </div>
  </div>
</nav>

<section id="home-background" class="container-fluid d-flex justify-content-start align-items-center">
  <div class="ml-5 jumbotron BB-primary">
    <h1 class="display-3c"><strong>Invista em Crypto Moedas</strong></h1>
    <p class="lead">O Banco do Brasil agora permite que você invista em Crypto Moedas com facilidade e segurança.</p>
    <div class="d-flex justify-content-end">
      <a class="btn btn-BB" href="#" role="button">Saiba mais</a>
    </div>
  </div>
</section>